body{
    font-family: 'Merriweather', serif;
    
}
header{
    margin: 140px 50px;
}
main{
    margin: 140px 50px;
}

.header-background{
    position: relative;
    width: 1320px;
    height: 600px; 
    flex-shrink: 0;
    background: #FFF;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url('../resources/Banner\ Image.png'); 
    background-size: cover;
    background-position: center;
    color: #fff; 
    text-align: center;
    align-items: center;
    justify-content: center;
}
.header-title-div{
    position: relative;
    top: 177px;
    left: 530px;
    width: 259px;
    height: 40px;   
}
.header-description-div{
    position: relative;
    top: 233px;
    left: 344px;
    width: 632px;
    height: 190px; 
}
.header-title-paragraph{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}
.header-description-paragraph{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
    margin: 0px;
}

/* .main-content{
    margin: 140px 0px
} */
.happy-new-offer{
    margin-top: 120px;
    text-align: center;
}
.offer-percentage{
    width: 383px;
    height: 107px;

}
.offer-color-large{
    padding: 0px;
    margin: 0px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.offer-color-small{
    padding: 0px;
    margin: 48px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.all-category-style{
    color: #070211;
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.happy-new-year-style{
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}

.main-background{
    display: flex;
    margin-top: 120px;
    position: relative;
    width: 1320px;
    height: 600px; 
    flex-shrink: 0;
    background: #FFF;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url('../resources/Vectorrr.png'); 
    
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-size: cover;
    background-position: center;
    color: #fff; 
}

.main-background-left{
    width: 862px;
    height: 100px;
    margin: 126px 0px 126px 126px;
}

.main-background-right{
    margin: 68px 138px 68px 0px;

}
.party-title{
    width: 642px;
    height: 176px;
    margin: 0PX;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    text-align: left;
}
.party-description{
    width: 697px;
    height: 60px;
    margin: 0PX;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    text-align: left;

}
.party-image{
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.join-now-button{ 
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

}


